<%= form_with(model: parkingfee) do |form| %>
<% if parkingfee.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(parkingfee.errors.count, "error") %> prohibited this parkingfee from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% parkingfee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :numtime, class: label_class %>
          <%= form.text_area :numtime, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :money, class: label_class %>
          <%= form.number_field :money, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if parkingfee.persisted? %>
<%= link_to "Cancel", parkingfee, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", parkingfees_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
