<div id="<%= dom_id parkingstatus %>">
  <p>
    <strong>Staff:</strong>
    <%= parkingstatus.staff_id %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= parkingstatus.available %>
  </p>

  <p>
    <strong>Slotid:</strong>
    <%= parkingstatus.slotid %>
  </p>

  <p>
    <strong>Parkingfee:</strong>
    <%= parkingstatus.parkingfee_id %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= parkingstatus.paymentmethod_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= parkingstatus.customer_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= parkingstatus.car %>
  </p>

  <p>
    <strong>Numberplate:</strong>
    <%= parkingstatus.numberplate %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= parkingstatus.date %>
  </p>

</div>
