<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Parkingstatus</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to parkingstatuses_path, class: button_class(theme: "transparent") do %>
      All Parkingstatuses
      <% end %>
      <%= link_to edit_parkingstatus_path(@parkingstatus), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Staff:</p>
        <p><%= @parkingstatus.staff %></p>
      </li>
      <li>
        <p class="font-semibold">Available:</p>
        <p><%= @parkingstatus.available %></p>
      </li>
      <li>
        <p class="font-semibold">Slotid:</p>
        <p><%= @parkingstatus.slotid %></p>
      </li>
      <li>
        <p class="font-semibold">Parkingfee:</p>
        <p><%= @parkingstatus.parkingfee %></p>
      </li>
      <li>
        <p class="font-semibold">Paymentmethod:</p>
        <p><%= @parkingstatus.paymentmethod %></p>
      </li>
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @parkingstatus.customer %></p>
      </li>
      <li>
        <p class="font-semibold">Car:</p>
        <p><%= @parkingstatus.car %></p>
      </li>
      <li>
        <p class="font-semibold">Numberplate:</p>
        <p><%= @parkingstatus.numberplate %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @parkingstatus.date %></p>
      </li>
  </ul>
</div>
